.container{
  position: relative;
  background: #EBEBEB;
  border-radius: 10px;
  width: 50%;
  height: 50vh;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.input{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.input input{
  padding: 2px 0 2px 4px;
  border-radius: 8px;
  margin-top: 10px;
}
.container img{
  height: 100%;
  border-radius: 10px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}