.container{
  width: 50%;
  height: 50vh;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container label{
  margin-top: 30px;
  margin-bottom: 20px;
}
.container input{
  width: 200px;
  border-radius: 8px;
  padding: 2px;
}
.container a{
  text-decoration: none;
  margin-top: 20px;
}
